<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h2>Your Patent Information</h2>
    <p>Code ID: {{ patent.codeID }}</p>
    <p>First Name: {{ patent.firstname }}</p>
    <p>Last Name: {{ patent.lastname }}</p>
    <p>Type of Bime: {{ patent.get_typebime_display }}</p>
    <p>Info Patent: {{ patent.get_infopatent_display }}</p>
    <p>Type of Sickness: {{ patent.typeSickness }}</p>
    <p>Age: {{ patent.age }}</p>
    <p>Text Sickness: {{ patent.textSickness }}</p>
</body>
</html>